.ChatItem {
  margin-top: 3px;
  min-width: 56px;
  max-width: 42.5%;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 1px 2px #10232f26;
  display: flex;
  flex-direction: column;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #8774e1;
  position: relative;
}

.ChatItem.myMessage {
  margin-left: auto;
  margin-right: 47.5px;
}

.ChatItem::before {
  content: '';
  position: absolute;
  top: 80%;
  right: 100%;
  margin-top: -15px;
  border-width: 7.5px;
  border-style: solid;
  border-color: transparent #8774e1 transparent transparent;
}

.ChatItem.myMessage::before {
  content: '';
  position: absolute;
  top: 80%;
  left: 100%;
  margin-top: -15px;
  border-width: 7.5px;
  border-style: solid;
  border-color: transparent transparent transparent #8774e1;
}

.ChatItem-textBody {
  max-width: 85%;
}

.ChatItem-name {
  font-size: 16px;
  color: #261046;
  line-height: 1.3125;
  word-break: break-word;
  white-space: pre-wrap;
  position: relative;
}

.ChatItem-text {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.3125;
  word-break: break-word;
  white-space: pre-wrap;
  position: relative;
}

.ChatItem-information-field {
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  margin: 0 10px 5px 0;
  bottom: 0;
  inset-inline-end: 0;
  color: rgba(255, 255, 255, 0.6);
}

.ChatItem-status {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.ChatItem-status.waiting {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* Угол поворота от 0 до 360 градусов */
  }
  to {
    transform: rotate(360deg);
  }
}

.ChatItem-date {
  pointer-events: all;
  display: flex;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  visibility: visible;
  font-size: 12px;
}
