.DrawCanvas {
  display: flex;
  flex-direction: column;
}
.DrawCanvas-canvas {
  display: block;
}


.DrawCanvas-config{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.DrawCanvas-selections{
    display: flex;
    gap: 10px;
}