.Panel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 10px;
  gap: 8px;
}

.Panel-figure {
  display: flex;
  align-items: center;
  padding: 6px;
  border: none;
  background: transparent;
  border-radius: 3px;
  transition: background .3s;

  &:hover {
  background:rgba(111, 126, 255, 0.3);
  }
}

.Panel-figure_active {
  background:rgba(111, 126, 255, 0.2);
}

.Panel-clear,
.Panel-save {
  border: none;
  background:rgba(111, 126, 255, 0.2);
  transition: background .3s;
  padding: 5px 10px;
  border-radius: 3px;

  &:hover {
    background:rgba(111, 126, 255, 0.3);
    color: #000;
  }
}

.Panel-checkbox:checked {
  accent-color:rgba(111, 126, 255, 1);

  &:hover,
  &:active {
    accent-color:rgba(111, 126, 255, 0.5);
  }
}
