.Autocomplete {
  background: #fff;
  width: 240px;
  box-shadow: 0px 0px 4px rgba(0 0 0 / 0.1);
  border-radius: 6px;
}

.Autocomplete_active {
  border-radius: 6px 6px 0 0;

  & .Autocomplete-drop {
    opacity: 1;
    visibility: visible;
  }

  & .Autocomplete-drop-inner {
    box-shadow: 0 8px 8px 0 rgba(60, 60, 63, 0.25);
  }

  & .Autocomplete-marker {
    rotate: 180deg;
  }
}

.Autocomplete_smooth {
  & .Autocomplete-drop {
    transition:
      visibility ease 0.15s,
      opacity ease 0.15s;
  }
}

.Autocomplete_disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.Autocomplete-row {
  cursor: pointer;
  padding: 5px 0;

  &:active {
    opacity: 0.6;
  }
}

.Autocomplete-inner {
  padding-right: 9px;
}

.Autocomplete-drop-inner {
  padding: 5px;
  padding-top: 2px;
}

.Autocomplete-drop {
  opacity: 0;
  visibility: hidden;
  position: relative;
}

.Autocomplete-drop-inner {
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  box-sizing: border-box;
}

.Autocomplete-drop-inner_top {
  top: -200px;
}

.Autocomplete-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Autocomplete-marker {
  margin-left: auto;
}

.Autocomplete-codes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 7.5px;
  /* max-height: 24px;
  overflow-y: auto; */
  width: 100%;
  padding: 0 5px;
}

.Autocomplete-code-action {
  cursor: not-allowed;
}
