.Message {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 10px;
  max-width: 300px;
  position: relative;
  transition: 0.15s ease border-color;

  &::before,
  &::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='15' height='15' viewBox='0 0 50 50'%3E%3Cpath d='M 42.875 8.625 C 42.84375 8.632813 42.8125 8.644531 42.78125 8.65625 C 42.519531 8.722656 42.292969 8.890625 42.15625 9.125 L 21.71875 40.8125 L 7.65625 28.125 C 7.410156 27.8125 7 27.675781 6.613281 27.777344 C 6.226563 27.878906 5.941406 28.203125 5.882813 28.597656 C 5.824219 28.992188 6.003906 29.382813 6.34375 29.59375 L 21.25 43.09375 C 21.46875 43.285156 21.761719 43.371094 22.050781 43.328125 C 22.339844 43.285156 22.59375 43.121094 22.75 42.875 L 43.84375 10.1875 C 44.074219 9.859375 44.085938 9.425781 43.875 9.085938 C 43.664063 8.746094 43.269531 8.566406 42.875 8.625 Z'%3E%3C/path%3E%3C/svg%3E");
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    opacity: 0;
  }

  &::before {
    right: 5px;
    bottom: 0px;
  }

  &::after {
    right: 0;
    bottom: 0px;
  }
}

.Message_sended::before {
  opacity: 1;
}

.Message_exists::before,
.Message_exists::after {
  opacity: 1;
}

.Message_me {
  border-width: 3px;
  align-self: flex-end;
}

.Message_me.Message_sended {
  border-color: blue;
}

.Message_me.Message_exists {
  border-color: green;
}

.Message-username {
  padding: 0;
  margin: 0;
}

.Message-date {
  font-size: 12px;
  color: grey;
}

.Message-header {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.Message-text {
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
}

.Message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
