.testDialog {

}

.testDialog-item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.testDialog > p:first-of-type {
  margin-top: 0;
}

.testDialog-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.testDialog-code {
  padding: 20px 10px 20px 20px;
}

.testDialog-title {
  width: 100%;
}

.testDialog-title a{
  color: #000;
  text-decoration: none;
}

.testDialog-title a:hover{
  color: #000;
  text-decoration: underline;
}

.testDialog-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.testDialog-cell {
  /* min-width: 95px; */
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
}

.testDialog-cellMini {
  min-width: 40px;
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
}

.testDialog-cellTotal {
  min-width: 100px;
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
}
