.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  height: 21px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 80px;
  text-wrap: nowrap;
}

.Button_size_nano {
  min-width: 28px;
}

.Button_height_input {
  min-height: 26px;
}

.Button:disabled {
  cursor: auto;
}