.OptionsView {
  padding: 0;
  max-height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FFFFFF;
  overflow: overlay;
  box-sizing: border-box;
  margin: 0 5px 5px;
}

.OptionsView::-webkit-scrollbar {
  /* height: 8px; */
  width: 8px;
}
.OptionsView::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.OptionsView::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

.OptionsView::-webkit-scrollbar-track:active {
  background-color: transparent;
}

.OptionsView::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #E5E6E9;
}

.OptionsView::-webkit-scrollbar-thumb:hover {
  background-color: #C0C1C3;
}

.OptionsView::-webkit-scrollbar-thumb:active {
  background-color: #B2B3B5;
}

.OptionsView-li {
  list-style-type: none;
  height: 30px;
  max-width: 230px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  padding: 6px 5px 6px 6px;
  box-sizing: border-box;
  overflow: hidden;
}

.OptionsView-li_hovered {
  background-color: #DBDFFF;
  outline: none;
}

.OptionsView-li_selected {
  background-color: #808DFF;
}

.OptionsView-li_hovered.OptionsView-li_selected {
  background-color: #4e59bb
}

.OptionsView-li_selected .OptionsView-title,
.OptionsView-li_selected:hover .OptionsView-title,
.OptionsView-li_selected:focus .OptionsView-title{
  color: #FFF;
}

.OptionsView-code{
  flex: 0 0 18px;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 8px;
  color: #FFFFFF;
  background-color: #6F7EFF;
  box-sizing: border-box;
  border-top: 1px;
}

.OptionsView-title{
  font-size: 15px;
  color: #191F4D;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}



