.CountItemForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 40px;
}

.CountItemForm-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.CountItemForm-label {
  font-size: 20px;
  font-weight: bold;
}

.CountItemForm-input {
  padding: 5px 10px;
  border: none;
  outline: 2px solid rgb(7, 63, 7);
  border-radius: 1px;
}

.CountItemForm-input:invalid {
  color: rgb(158, 7, 7);
  border: none;
  outline: 2px solid rgb(192, 4, 4);
  border-radius: 1px;
}

.CountItemForm-buttons {
  display: flex;
  align-self: center;
  gap: 20px;
}

.CountItemForm-submit,
.CountItemForm-cancel {
  width: 70px;
}
