.CountItemForm {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 40px;
}

.CountItemForm-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.CountItemForm-label {
  font-size: 20px;
  font-weight: bold;
}

.CountItemForm-input {
  padding: 5px 10px;
  flex: auto;
}

.CountItemForm-input:invalid {
  color: rgb(158, 7, 7);
  border: 2px solid rgb(192, 4, 4);
}

.CountItemForm-submit {
  align-self: flex-end;
  padding: 0 15px;
}

.CountItemForm-error {
  color: rgb(158, 7, 7);
  min-height: 20px;
}

.CountItemForm-success {
  display: flex;
  justify-content: center;
  color: rgb(16, 90, 16);
  min-height: 30px;
}

