.SelectCustom {
  width: 237px;
  font-size: 15px;
  background-color: white;
  color: #191f4d;
  border: solid 1px #e6e6e6;
}

.SelectCustom-container {
  position: relative;
  & button {
    background: rgb(255, 255, 255);
    border: 0px;
    width: 100%;
  }
}

.SelectCustom-selected {
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.SelectCustom-shortcut {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 19px;
  height: 19px;
  color: white;
  border-radius: 3px;
  background-color: #6f7eff;
  font-size: 10px;
}

.SelectCustom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.SelectCustom-menu {
  position: absolute;
  top: 32px;

  left: 0px;
  width: 237px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 8px 0px rgba(60, 60, 63, 0.25);

  & ul {
    padding: 0;
    margin: 0;
  }
}

.SelectCustom-menu-up {
  position: absolute;
  bottom: 32px;
  left: 0px;
  width: 237px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 8px 0px rgba(60, 60, 63, 0.25);

  & ul {
    padding: 0;
    margin: 0;
  }
}

.SelectCustom-options {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;

  &::-webkit-scrollbar {
    width: 10px;
    background: rgb(255, 255, 255);
  }
  &::-webkit-scrollbar-thumb {
    background: #e5e6e9;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #dcdee4;
  }
}

.SelectCustom-option {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover {
    background-color: #dbdfff;
  }
  &:focus {
    background-color: #f82ab3;
  }
}

.SelectCustom-option-hovered {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #dbdfff;
}

.SelectCustom-option-selected {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color: #808dff;
}

.SelectCustom-search {
  all: unset;
  width: calc(100% - 20px);
  height: 30px;
  border: 0px;
  padding: 5px 10px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;

  &::placeholder {
    font-weight: 400;
  }
}

.SelectCustom-title {
  overflow: hidden;
  white-space: nowrap;
}

.SelectCustom-notFound {
  padding: 10px;
  color: #e5e6e9;
}

.SelectCustom-menu-badgeWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 237px;
}

.SelectCustom-menu-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 4px;
  border-radius: 2px;
  margin: 3px;
  background-color: #808dff;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

.SelectCustom-menu-badge-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5d6cf5;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  padding: 2px;
  margin-left: 3px;
  &:hover {
    opacity: 0.8;
  }
}
