.ItemSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  height: 30px;
  color: #191f4d;
  background-color: #ffffff;
}

.ItemSelect-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
  height: 28px;
  color: #ffffff;
  background-color: #808dff;
}

.ItemSelect-selectedList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  max-width: 100%;
  cursor: pointer;
  height: 28px;
  color: #ffffff;
  background-color: #808dff;
  padding: 0 5px;
}

.ItemSelect:hover{
  background-color: #dbdfff;
  color: black;
}

.ItemSelect-hovered {
  background-color: #dbdfff;
  color: black;
}

.ItemSelect-group {
  display: flex;
  gap: 6px;
}

.ItemSelect-flag {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 8px;
  line-height: 9.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f7eff;
  border: 1px solid #6f7eff;
  border-radius: 3px;
}

.ItemSelect-country {
  transition: color 0.4s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ItemSelect-count {
  padding: 0 2px;
}
