.ItemSelect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 230px;
  gap: 6px;
  cursor: pointer;
  height: 30px;
  color: #191f4d;
  background-color: #ffffff;
}

.ItemSelect-selected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.4s;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 230px;
  gap: 6px;
  cursor: pointer;
  height: 30px;
  color: #ffffff;
  background-color: #808dff;
}

.ItemSelect:hover {
  background-color: #dbdfff;
  color: black;
}

.ItemSelect-flag {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 8px;
  line-height: 9.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f7eff;
  border: 1px solid #6f7eff;
  border-radius: 3px;
}

.ItemSelect-country {
  transition: color 0.4s;
}
