/* Итого в корзине */
.BasketControls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.BasketControls-cell {
  min-width: 85px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
  white-space: nowrap;
}
.BasketControls-content {
  width: 100%;
}
.BasketControls-content h2 {
  padding-bottom: 10px;
  text-align: center;
  color: #a1a1a1;;
}

