.AutocompleteField {
  display: flex;
  column-gap: 5px;
  font-family: Arial, sans-serif;
  padding: 5px;
}

.AutocompleteField-title {
  color: #191f4d;
  font-size: 15px;
  font-weight: 400;
  padding-right: 10px;
  word-break: break-word;
}

.AutocompleteField {
  background: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
}

.AutocompleteField:not(.AutocompleteField_active):hover {
  background: #dbdfff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.AutocompleteField:not(.AutocompleteField_active):focus-visible {
  background: #dbdfff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.AutocompleteField_active {
  background: #808dff;

  & .AutocompleteField-title {
    color: #fff;
  }
}

.AutocompleteField_disabled {
  pointer-events: none;
}
