.Option {
  display: flex;
  column-gap: 5px;
  font-family: Arial, sans-serif;
  padding: 5px;
}

.Option-title {
  color: #191f4d;
  font-size: 15px;
  font-weight: 400;
  padding-right: 10px;
  word-break: break-word;
}

.Option-code {
  border-radius: 3px;
  width: 18px;
  height: 18px;
  background: #6f7eff;
  font-weight: 700;
  font-size: 8px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Option {
  background: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
}

.Option:not(.Option_active):hover {
  background: #dbdfff;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.Option_active {
  background: #808dff;

  & .Option-title {
    color: #fff;
  }
}

.Option_disabled {
  pointer-events: none;
}
