.SelectCustom {
  display: flex;
  flex-direction: column;
  height: 30px;
  border: 1px solid #dbdfff;
  width: 240px;
  margin: 0;
  transition: background-color 0.4s;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #191f4d;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 1px 8px -1px #dbdfff;
  z-index: 9999;
}

.SelectCustom-select {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  box-sizing: border-box;
  transition: background-color 0.4s;
}
.SelectCustom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  transition: rotate 0.4s;
}
.arrowUp {
  transform: rotate(180deg);
}

.SelectCustom-selected {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  gap: 5px;
}
.SelectCustom-dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  box-shadow: 0px 1px 8px -1px #dbdfff;
}

.SelectCustom-dropdown:focus {
  outline: none;
}

.SelectCustom-group {
  display: flex;
  gap: 6px;
  align-items: center;
}
.SelectCustom-content {
  box-sizing: border-box;
  max-height: 160px;
  width: 240px;
  padding: 6px;
  background-color: #ffffff;
}

.SelectCustom-item:hover .ItemSelect {
  background-color: #dbdfff;
  color: black;
}
.hovered .ItemSelect {
  background-color: #dbdfff;
  color: black;
}
.SelectCustom-box {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  max-height: 120px;
}

.SelectCustom-flag {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 700;
  font-size: 8px;
  line-height: 9.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f7eff;
  border: 1px solid #6f7eff;
  border-radius: 3px;
}

.SelectCustom-country {
  transition: color 0.4s;
  white-space: nowrap;
}

.SelectCustom-search {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  padding: 6px;
  border: none;
  outline: none;
  font-style: italic;
}

.SelectCustom-select:hover {
  background-color: #dbdfff;
  cursor: pointer;
  color: black;
}
.SelectCustom-select:hover .ItemSelect {
  background-color: #dbdfff;
  color: black;
}
