.ChatMessage {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 24px 0;
  align-items: flex-start;
}

.ChatMessageSelf {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 24px 0;
  align-items: flex-end;
}

.ImageAndText {
  display: flex;
  flex-direction: row;
  max-width: 70%;
}

.ImageAndTextSelf {
  display: flex;
  flex-direction: row-reverse;
  max-width: 70%;
}

.UserIcon {
  margin-top: auto;
  margin-right: 12px;
  width: 48px;
  height: 48px;
}

.UserIconSelf {
  margin-top: auto;
  width: 48px;
  height: 48px;
  margin-left: 10px;
}

.Text {
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-line;
  position: relative;
  background-color: #F5F7FB;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px 10px 10px 0;
}

.TextSelf {
  max-width: 70%;
  word-wrap: break-word;
  white-space: pre-line;
  position: relative;
  background-color: rgb(128, 141, 255);
  color: #FFF;
  padding: 5px 10px;
  border-radius: 10px 10px 0 10px;
}

.Text:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 0;
  left: -8px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 50%, rgba(245,247,251, 1) 50%);
  z-index: 1;
}

.TextSelf:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  right: -8px;
  bottom: 0;
  background: linear-gradient(225deg, rgba(255,255,255,1) 50%, rgb(128, 141, 255) 50%);
  z-index: 1;
}

.UserName {
  text-align: right;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.UserNameSelf {
  text-align: left;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.MessageText {
  word-wrap: break-word;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.MessageTextSelf {
  word-wrap: break-word;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CreateTime {
  font-family: Montserrat;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  padding-left: 10px;
}

.CreateTimeSelf {
  font-family: Montserrat;
  text-align: right;
  color: #FFF;
  font-size: 10px;
  font-weight: 600;
  /* position: absolute; */
  right: 10px;
  bottom: -12px;
}

.StatusIcon {
  margin-left: 10px;
  width: 8px;
  height: 8px;
}
