.ChatMessage {
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 10px 5px;
  list-style-type: none;
  word-break: break-word;
  width: fit-content;
}

.ChatMessage_alignHorizontal_start {
  margin-right: auto;
}

.ChatMessage_alignHorizontal_end {
  margin-left: auto;
}

.ChatMessage-author {
  margin-bottom: 4px;
  font-size: 14px;
  display: block;
  font-weight: bold;
  color: #7757D6;
}

.ChatMessage-text {
  margin: 0;
  font-size: 14px;
  white-space: pre-line;
  width: fit-content;
  display: block;
  margin-bottom: 2px;
}

.ChatMessage-time {
  font-size: 12px;
  display: inline;
  color: #7757D6;
  white-space: nowrap;
}

.ChatMessage-status {
  display: flex;
  width: fit-content;
  gap: 3px;
  align-items: center;
  margin-left: auto;
}

.ChatMessage-flex {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  justify-content: space-between;
}