.ItemModal {
  display: flex;
  justify-content: space-between;
  transition: background-color 1s;
  padding: 20px;
  cursor: pointer;
}

.ItemModal_selected {
  background: #75aaf1;
  color: #fff;
}
