.ArticleInfo-description {
  font-size: 18px;
  margin: 20px 0;
}

.ArticleInfo-prop {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.ArticleInfo-prop_size_big {
  font-size: 24px;
  font-weight: bold;
}

.ArticleInfo-label {
  padding-right: 10px;
}

.ArticleInfo-value {
  font-weight: bold;
}