/* Пункт списка */
.ItemManyProducts {
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: background-color 0.1s;
  padding-left: 10px
}

.ItemManyProducts_selected {
  background: #e6ffe6;
}

.ItemManyProducts_error {
  background: #fff5ee;
}

.ItemManyProducts-code {
  padding: 20px 10px 20px 20px;
}

.ItemManyProducts-title {
  display: flex;
  align-items: center;
  /* width: 100%; */
  padding: 20px 10px;
  text-wrap: nowrap;
}

.ItemManyProducts-title a{
  width: 20%;
  color: #000;
  text-decoration: none;
}

.ItemManyProducts-title a:hover{
  color: #000;
  text-decoration: underline;
}

.ItemManyProducts-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px 20px 20px 10px;
  gap: 15px;
}

.ItemManyProducts-right_selected {
  padding: 8px 20px 8px 10px;
}

.ItemManyProducts-cell {
  width: 20%;
  text-align: right;
  /* padding-right: 25px; */
  font-size: 18px;
  white-space: nowrap;
}

.ItemManyProducts-cellBig {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  /* min-width: 95px; */
  /* position: absolute; */
  /* left: 320px; */
  font-size: 18px;
  white-space: nowrap;
}

.ItemManyProducts-cellMini {
  /* min-width: 40px; */
  font-weight: bold;
  color: #9a9a9a;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
}

.ItemManyProducts-cellTotal {
  min-width: 100px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}



