.Canvas {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}

.Canvas-field {
  border: 1px solid #000;
}

.Canvas-generate {
  border: none;
  background:rgba(111, 126, 255, 0.2);
  transition: background .3s;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 20px;

  &:hover {
    background:rgba(111, 126, 255, 0.3);
    color: #000;
  }
}

canvas {
  border: 1px solid #000;
}
