.SelectedOptionsList {
}

.SelectedOptionsList-moreOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 6px;
}

.SelectedOptionsList-moreBtn {
  border-radius: 3px;
  background: #6f7eff;
  padding: 6px;
  font-weight: 700;
  font-size: 8px;
  color: #fff;
  height: max-content;
  cursor: pointer;
}

.SelectedOptionsList-menu {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 999;
  gap: 6px;
  box-sizing: border-box;
  box-shadow: 0 8px 8px 0 rgba(60, 60, 63, 0.25);
  background: #fff;
  padding: 5px;
  width: max-content;
  max-width: 120px;
  max-height: 120px;
}

.SelectedOptionsList-menu_direction_down {
  top: 100%;
  margin-top: 10px;
  bottom: auto;
}

.SelectedOptionsList-menu_direction_up {
  bottom: 100%;
  margin-bottom: 10px;
  top: auto;
}
